name: Docker Image Build and Push

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        #docker pull vulnerables/web-dvwa:latest
        run: |
          docker build -t alejogaci/workshop-tmcontainer:latest .
          docker images
      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Download Artifact
        run: |
          wget https://cli.artifactscan.cloudone.trendmicro.com/tmas-cli/latest/tmas-cli_Linux_x86_64.tar.gz
          tar -xzvf tmas-cli_Linux_x86_64.tar.gz

      - name: Run Artifact Scab
        env:
          TMAS_API_KEY: ${{ secrets.TMAS_API_KEY }}
        run:  |
          ./tmas scan registry:alejogaci/workshop-tmcontainer@sha256:72780193a7560ee7ee45c2645302b70591a96c3ffe474f41f73a3e60804e2cf1 - -VMS --saveSBOM > result.json
  #        ./tmas scan docker:alejogaci/workshop-tmcontainer:latest - -VMS --evaluatePolicy --saveSBOM > results.json

      - name: Push to registry
        run: |
          docker push alejogaci/workshop-tmcontainer:latest

  sign:
    name: Sign Image with Cosign
    runs-on: ubuntu-latest
    needs: build   # â† este job solo corre si el build fue exitoso
    permissions:
      contents: read
      packages: write

    steps:
      - name: Set up Cosign
        uses: sigstore/cosign-installer@v3.5.0

      - name: Log in to GitHub Container Registry
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Sign image with Cosign (Key-based)
        env:
          COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
        run: |
          echo "${{ secrets.COSIGN_KEY }}" > cosign.key
          cosign sign --key cosign.key --yes --tlog-upload=false alejogaci/workshop-tmcontainer:latest
